<%- include('../sellerUtils/starter.ejs') %>
<!-- add custom css here -->
<link rel="stylesheet" href="/styles/sellerCss/sellerHeader.css">
<link rel="stylesheet" href="/styles/sellerCss/addProductPage.css">
<%- include('../utils/AfterLinkStyles.ejs') %>
<!-- add header here -->
<body>
    <%- include('../utils/MessageBox.ejs') %>
    <script>
        const message = document.querySelector('.message');
    </script>
    <%- include('../sellerUtils/sellerHeader.ejs') %>
    <div class="searchOperation">
        <%- include('../utils/searchBox.ejs',{buttonsToRender:path,pageTitle:'Add Product'}) %>
    </div>
    <div class="body-wrapper">
        <form class="addProductForm">
            <div class="productImageHolder"><img src="" alt="medicine image" class="productImage"></div>
            <div class="produtDetailHolder">
                <%- include('../sellerUtils/InputField.ejs',{text:'Product Name',className:'productName',value:'',isInput:false,isDisabled:true,type:'',isRequired:false}) %>
                <%- include('../sellerUtils/InputField.ejs',{text:'Manufacturer',className:'productManufacturer',value:'',isInput:false,isDisabled:true,type:'',isRequired:false}) %>
                <%- include('../sellerUtils/InputField.ejs',{text:'Packaging Detail',className:'productPackagingInfo',value:'',isInput:false,isDisabled:true,type:'',isRequired:false}) %>
                <%- include('../sellerUtils/InputField.ejs',{text:'Product Type',className:'productType',value:'',isInput:false,isDisabled:true,type:'',isRequired:false}) %>
                <%- include('../sellerUtils/InputField.ejs',{text:'Use',className:'productUsage',value:'',isInput:false,isDisabled:true,type:'',isRequired:false}) %>
                <div class="productPricing">
                    <%- include('../sellerUtils/InputField.ejs',{text:'MRP',className:'originalPrice priceCss',value:'',isInput:true,isDisabled:true,type:'number',isRequired:false}) %>
                    <%- include('../sellerUtils/InputField.ejs',{text:'Set price',className:'offeredPrice priceCss',value:'',isInput:true,isDisabled:false,type:'number',isRequired:false}) %>
                </div>
                <%- include('../sellerUtils/InputField.ejs',{text:'Quantity',className:'productQuantity',value:'',isInput:true,isDisabled:false,type:'number',isRequired:true}) %>
            </div>
            <div class="buttonHolder">
                <button class="reset addProductBtn" type="reset">Reset</button>
                <button class="submit addProductBtn" type="button">Submit</button>
            </div>
        </form>
    </div>
    <%- include('../sellerUtils/footer.ejs') %>
</body>
<script>
    const keyName = '<%=localStorageKey.suggestions%>';
    const url = '<%= url %>';
    const redirect = '<%= defaultRedirect %>';
</script>
<script src="/scripts/addProductPage.js"></script>
<script src="/scripts/utilScripts/allProductLoadData.js"></script>
<!-- add footer here -->