<%- include('../sellerUtils/starter.ejs') %>
<!-- add custom css here -->
<link rel="stylesheet" href="/styles/sellerCss/sellerHeader.css">

<%- include('../utils/AfterLinkStyles.ejs') %>
<style>
    .body-wrapper{
        height: calc(100vh - 10.8rem);
        overflow-y: scroll;
    }
</style>
<!-- add header here -->
<%- include('../sellerUtils/sellerHeader.ejs') %>
<div class="searchOperation">
    <%- include('../utils/searchBox.ejs',{button:path}) %>
</div>
<body>
    <div class="body-wrapper"></div>
</body>
<%- include('../sellerUtils/footer.ejs') %>
<!-- add footer here -->