<%- include('../sellerUtils/starter.ejs') %>
<!-- link custom css -->
<link rel="stylesheet" href="/styles/sellerCss/sellerHeader.css">
</head>
<%- include('../sellerUtils/sellerHeader.ejs') %>
<%- include('../utils/MessageBox.ejs') %>
<script>
    const message = document.querySelector('.message');
    const url = '<%= url %>';
    // search bar suggesstion 
    const keyName = '<%=localStorageKey.suggestions%>';
    // added product in add bulk product page
    const addedBulkProductKeyName = '<%=localStorageKey.addBulkProductPage%>';
</script>
<body>
    <link rel="stylesheet" href="/styles/sellerCss/addBulkProduct.css">
    <div class="searchBoxHolderBulkUploadPage">
        <%- include('../utils/searchBox.ejs',{buttonsToRender:path,pageTitle:'Bulk Add Product'}) %>
    </div>
    <div class="body-wrapper-bulkUploadPage">
        <form action="" class="bulkAddProductsForm">
            <table class="gridHolder">
                <thead class="fieldLabel">
                    <th class="medicineName-header">Medicine Name</th>
                    <th class="manufacturer-header">Manufacturer</th>
                    <th class="packagingInfo-header"> Packaging Details</th>
                    <th class="productForm-header">Product Form</th>
                    <th class="originalPrice-header">MRP</th>
                    <th class="offeredPrice-header">Your Price</th>
                    <th class="quantity-header">Quantiy</th>
                    <th class="deleteProduct-header"></th>
                </thead>
                <tbody class="gridContent">
                    <!--  added medicines will be stored here  -->
                </tbody>
            </table>
        </form>
        <!-- <div class="submitBtnHolder"><button class="saveAllProductBtn" type="button">Save</button></div> -->
    </div>
</body>
<script src="/scripts/bulkAddProductPageScript.js"></script>
<script src="/scripts/utilScripts/allProductLoadData.js"></script>
<%- include('../sellerUtils/footer.ejs') %>