<%- include('../sellerUtils/starter.ejs') %>
<link rel="stylesheet" href="/styles/sellerCss/sellerHeader.css">
</head>
<%- include('../sellerUtils/sellerHeader.ejs') %>
<body>
    <%- include('../utils/MessageBox.ejs') %>
    <script>
        const message = document.querySelector('.message');
    </script>
    <link rel="stylesheet" href="/styles/sellerCss/sellerHomePage.css">
    <div class="searchOperation">
        <%- include('../utils/searchBox.ejs',{buttonsToRender:path,pageTitle:'Listed Medicines'}) %>
    </div>
    <div class="body-wrapper">
        <!-- all listed products -->
        <%- include('../sellerUtils/dataGridReload.ejs') %>
    </div>
    <script>
        const searchBtn = document.querySelector('.searchBtn');
        const keyName = '<%= localStorageKey.sellerListedProduct %>';
        const url = '<%= url %>';
    </script>

    <!-- load searchList -->
    <script defer>
        fetch(url+'utils/allListedProducts',{
            method: 'GET',
            headers:{ 'Content-Type': 'application/json' },
        })
        .then(result=> result.json())
        .then(result=>{
            localStorage.setItem(keyName,JSON.stringify(result.data));
        })
        .catch(err=>{
            console.log(err.stack);
            message.textContent = 'Unable to fetch Listed Product Names';
            message.classList.remove('message-hidden');
            setTimeout(()=>{
                message.classList.add('message-hidden');
            },3000);
        });
    </script>
</body>
<script src="/scripts/sellerHomePageSearchBarScripts.js"></script>

<%- include('../sellerUtils/footer.ejs') %>