<%- include('../sellerUtils/starter.ejs') %>
<link rel="stylesheet" href="/styles/sellerCss/sellerHeader.css">
</head>

<%- include('../sellerUtils/sellerHeader.ejs') %>
<style>
    .body-wrapper{
        padding: 0.5rem 2rem;
        height: calc(100vh - 10.8rem);
        overflow-y: scroll;
    }
</style>
<body>
    <div class="searchOperation">
        <%- include('../utils/searchBox.ejs',{button:path}) %>
    </div>
    <div class="body-wrapper">
        <% if (products.length == 0) { %>
            <div><h3>No product listed yet...</h3></div>
        <% }else{ %>
            <% for(let product of products ) { %>
                <div class="product-wrapper">
                    <div class="productImage"><img src="<%= product.image %>" alt=""></div>
                    <div class="productName"><%= product.name %></div>
                    <!-- details button -->
                    <%- include('../sellerUtils/detailsButton.ejs',product) %>
                    <div class="moreButtons">
                        <%- include('../sellerUtils/editButton.ejs',product) %>
                        <%- include('../sellerUtils/deleteButton.ejs',product) %>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</body>

<%- include('../sellerUtils/footer.ejs') %>