<div class="fieldHolder">
    <div class="textHolder"><%=text%> <%if(isRequired){%>*<%}%></div>
    <% if (isInput) { %>
        <input type="<%= type %>" class="<%= className %>" value="<%= value %>" <%if(isDisabled){%>disabled<%}%> <%if(isRequired){%>required<%}%> >
    <% }else{ %>
    <div class="inputHolder <%= className %>"><%= value %></div>
    <%}%>
</div>