<%- include('../utils/Starter.ejs') %>
<!-- add stylesheets here -->
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/customerSignup.css">
<link rel="stylesheet" href="/styles/EmailVerification.css">
<%- include('../utils/AfterLinkStyles.ejs') %>
<%- include('../utils/Header.ejs') %>
<body>
    <%- include('../utils/OTP_popup.ejs') %>
    <%- include('../utils/MessageBox.ejs') %>
    <div class="body-wrapper">
        <div class="pageHeading"><h2>Get Started with us. <br></h2></div>
        <div class="formHolder">
            <form>
                <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'',textName:'Name',isTextArea:false,inputType:'text',nameAttribute:'customerName',inputClassName:'customerName',placeHolder:'Enter Name here',isRequired:true, isFile:false,fileType:''}) %>
                <%- include('../utils/EmailVerification.ejs',{verifiedStatusFor:'hidden-customerSignup'}) %>
                <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'',textName:'Mobile No.',isTextArea:false,inputType:'number',nameAttribute:'mobileNo',inputClassName:'mobileNo',placeHolder:'Enter Phone Number',isRequired:true,isFile:false,fileType:''}) %>
                <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'',textName:'Password',isTextArea:false,inputType:'password',nameAttribute:'password',inputClassName:'password',placeHolder:'Enter password',isRequired:true,isFile:false,fileType:''}) %>
                <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'',textName:'Confirm Password',isTextArea:false,inputType:'password',nameAttribute:'confirmPassword',inputClassName:'confirmPassword',placeHolder:'Re-Enter password',isRequired:true,isFile:false,fileType:''}) %>
                <div class="buttonHolder">
                    <button class="button" type="reset">Reset</button>
                    <button class="button registerCustomer" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const customerName = document.querySelector('.customerName');
        const mobileNoField = document.querySelector('.mobileNo');
        const password = document.querySelector('.password');
        const confirmPassword = document.querySelector('.confirmPassword');


        //register customer
        document.querySelector('.registerCustomer').addEventListener('click',async()=>{
            const response = await fetch('<%=url%>signup/customer',{
                method:'POST',
                headers: { 'Content-Type': 'application/json' },
                body:JSON.stringify({
                    customerName:customerName.value,
                    emailId:emailField.value,
                    mobileNo:mobileNoField.value,
                    password:password.value,
                    confirmPassword:confirmPassword.value,
                }),
            })
            const result = await response.json();
            message.textContent = result.message;
            message.classList.remove('message-hidden');
            setTimeout(async()=>{
                message.classList.add('message-hidden');
                if(result.success){
                    window.location.href = '<%=url%>login';
                }
            },3000)
        })
    </script>
</body>

<%- include('../utils/Footer.ejs') %>