<%- include('../utils/Starter.ejs') %>
<!-- link css files here -->
<link rel="stylesheet" href="/styles/header.css">
<%- include('../utils/AfterLinkStyles.ejs') %>
<%- include('../utils/Header.ejs') %>
<style>
    .body-wrapper{
        width: 100%;
        min-height: 80vh;
        display: grid;
        place-items: center;
        background-color: black;
    }
    .formContainer{
        width: 95vw;
        box-shadow: 1px 1px 5px 2px inset rgb(162, 161, 161);
        padding: 0.5rem 0.25rem;
        border-radius: 0.5rem;
    }
    .textHolder,.pageHeader{
        color: white;
        text-align: center;
    }
    .buttonHolder{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }
    .noButton{
        background: transparent;
        color: white;
        border: none;
        border: 1px solid white;
        padding: 0.5rem 0.25rem;
        border-radius: 0.25rem;
        font-size: 11px;
        cursor: pointer;
    }
    .signup-section{
        padding-top: 1rem;
        display: grid;
        place-items: center;
    }
    .feature-buttons{
        display:flex;
        width: 80%;
        padding: 0.5rem;
        justify-content: space-evenly;
    }
    @media screen and (min-width:701px) {
        .formContainer{
            width:27rem;
        }
        .noButton{
            font-size: 14px;
        }
    }
    @media screen and (min-width:375px) and (max-width:700px) {
        .formContainer{
            width: max(21rem,60vw);
        }
    }
</style>

<body>
    <%- include('../utils/MessageBox.ejs') %>  
    <div class="body-wrapper">
        <div>
            <div class="pageHeader"><h2>Login Here <br><br></h2></div>
            <div class="formContainer">
                <form  class="form">
                    <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'textHolder',textName:'EmailId',isTextArea:false, inputType:'email',nameAttribute:'userCredential',inputClassName:'emailId',placeHolder:'Enter Email Id',isRequired:true,isFile:false,fileType:'',isDisabled:false}) %>
                    <%- include('../utils/inputField.ejs',{style:'sideWays',textClass:'textHolder',textName:'Password',isTextArea:false, inputType:'password',nameAttribute:'password',inputClassName:'password',placeHolder:'Enter password',isRequired:true,isFile:false,fileType:'',isDisabled:false}) %>
                    <div class="buttonHolder">
                        <button class="button" type="reset">Reset</button>
                        <button class="submitBtn button" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="signup-section" style="color: white;">
                <div>
                    Don't have an account ?
                </div>
                <div class="feature-buttons">
                    <form action="/signup/customer" method="get"><button class="noButton" type="submit">Signup as Customer</button></form>
                    <form action="/signup/seller" method="get"><button type="submit" class="noButton">Signup as Seller</button></form>
                </div>
            </div>
        </div>
    </div> 
    <script>
        const submitBtn = document.querySelector('.submitBtn');
        const emailId = document.querySelector('.emailId');
        const password = document.querySelector('.password');
        const message = document.querySelector('.message');
        submitBtn.addEventListener('click',async(e)=>{
            e.preventDefault();
            const response = await fetch('<%=url%>signup/seller',{
                method:'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    credentialField:emailId.value,
                    password: password.value,
                })
            });
            const result = await response.json();
            if(result.success){
                let str = '';
                if(result.roleId==1){
                    str = 'customer';
                }else if(result.roleId==2){
                    str = 'seller';
                }
                window.location.href = `<%=url%>${str}`;
            }else{
                message.textContent = result.message,
                message.classList.remove('message-hidden');
                setTimeout(() => {
                    message.classList.add('.message-hidden');
                }, 3000);
            }
        })
    </script> 
</body>
