<%- include('../utils/Starter.ejs') %>
<!-- Link your css files here -->
<link rel="stylesheet" href="/styles/header.css">


<%- include('../utils/AfterLinkStyles.ejs') %>
<%- include('../utils/Header.ejs') %>

<body>
    <%- include('../utils/MessageBox.ejs') %>
</body>
<%- include('../utils/Footer.ejs') %>