<%- include('./customerUtils/starter.ejs') %>

</head>
<%- include('./customerUtils/topHeader.ejs') %>
<body>
    <%- include('../utils/MessageBox.ejs') %>
    <script>
        const message = document.querySelector('.message');
    </script>
    <link rel="stylesheet" href="/styles/customerCss/customerHomePage.css">
    <div class="homePageContentHolder">
        <div class="userLocations">
            <div class="userLocationContainer">
               
            </div>
        </div>
        <div class="searchBoxHolder">
            <%- include('../utils/searchBox.ejs',{pageTitle:'',buttonsToRender:'Customer/HomePage'}) %>
        </div>
        <!-- actual content here -->
        <div class="contentHolder">

        </div>
    </div>
    <script>
        const keyName = '<%=localStorageKey.suggestions%>';
        const url = '<%= url %>';
        const userId = '<%= userId %>';
    </script>
</body>
<script defer src="/scripts/utilScripts/allProductLoadData.js"></script>
<script src="/scripts/customer/customerHomePage.js"></script>
<%- include('./customerUtils/footer.ejs') %>