<!-- <div> -->
    <% if (sellers.length==0) { %>
        <h3 class="noProductFound">No Product Found</h3>
    <% }else{%>
        <% for( let i= 0; i < sellers.length; i++ ) { %>
            <div class="productHolder">
                <div class="imageHolder">
                    <img src="<%=medicineInfo.productImage.split('|')[0]%>" alt="">
                </div>
                <div class="productName"><%= medicineInfo.name %></div>
                <div class="productManufacturer"><%= medicineInfo.manufacturer %></div>
                <div class="soldBy">Sold By : <%= sellers[i].storeDetail.storeName %></div>
                <div class="useOf">Use : <%= medicineInfo.useOf %></div>
                <div class="price">Price : ₹ <%= sellers[i].storeDetail.price %></div>
                <div class="buttonHolder">
                    <div class="detailsButton">
                        <button class="detailsBtn" type="button">Details</button>
                        <input type="text" class="detailsButtonProductId detailsButtonProductId-<%=i%>" hidden value="<%= sellers[i].storeDetail.productId %>">
                    </div>
                    <div class="addToCartButton">
                        <button class="addToCart" type="button">Add To Cart</button>
                        <input type="text" class="addToCartProductId addToCartProductId-<%=i%>" hidden value="<%= sellers[i].storeDetail.productId %> <%= sellers[i].storeDetail.sellerId.toString() %>">
                    </div>
                </div>
            </div>

        <% } %>
    <%}%>
<!-- </div> -->
