
<div class="field-wrapper <%= style %>">
    <div class="textHolder">
        <span class="<%= textClass %>"><%= textName %></span>
        <span class="<% if (isRequired) { %>required<% } %>"><% if (isRequired) { %>*<% } %></span>
    </div>
    
    <% if (isTextArea) { %>
        <div class="inputHolder"><textarea name="<%= nameAttribute %>" id="" class=" textarea <%= inputClassName %>" placeholder="drop text here..." autocomplete="off" <% if (isRequired){%>required<% } %>></textarea></div>
    <% }else{ %>
        <div class="inputHolder"><input type="<%= inputType %>" autocomplete="off" name="<%= nameAttribute %>" class=" default <%= inputClassName %>" placeholder="<%= placeHolder %>" <% if (isRequired){%>required<% } %> <% if (isFile) { %>accept ="<%= fileType %>"<% } %> <% if(isDisabled) { %> disabled <% } %>  ></div>
    <%}%>
</div>

<!-- code complete -->